<div style="width:100vw; height: 100vh; display: flex;flex-direction: column;justify-content: center;">
  <div [formGroup]="form" style="width:100vw; height: 100vh; display: flex;flex-direction: column;justify-content: center;align-items: center; gap:10px;">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name">
      <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched"></div>
   </mat-form-field>
   <p>{{name.value}}</p>
 
   <mat-form-field appearance="fill">
     <mat-label>Correo electronico</mat-label>
     <input matInput formControlName="email">
     <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
      <mat-error *ngIf="form.get('email')?.errors">El email es requerido</mat-error>
      <mat-error *ngIf="form.get('email')?.errors">El email es invalido</mat-error>
     </div>
  </mat-form-field>
  <p>{{email.value}}</p>
 
  <mat-form-field appearance="fill">
   <mat-label>No. de telefono</mat-label>
   <input matInput formControlName="phoneNumber">
   <div *ngIf="form.get('name')?.invalid && form.get('name')?.touched">
    <mat-error *ngIf="form.get('phoneNumber')?.errors">El telefono es requerido</mat-error>
    <mat-error *ngIf="form.get('phoneNumber')?.errors">El telefono es invalido</mat-error>
   </div>
 </mat-form-field>
 <p>{{phoneNumber.value}}</p>

 <button mat-raised-button color="primary" (click)="sendValues()" [disabled]="form.invalid">Enviar</button>
  </div>
</div>